
  
  
}
.larger-circle {
    width: 150px; /* Set the width of the largerircle */
    height: 1r0px; /* Set the height of the larger circle */
    border-radius: 50%; /* Make it a circle */
    background-color: red; /* Adjust background color and opacity */
    position: absolute; /* Position it absolutely */
    top: -4%; /* Align it to the top */
    left: 5%; /* Align it to the center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    z-index: -1; /* Move it behind other elements */
}
@keyframes World{
    0%{
        background-position-x: 0; 
    }
    100%{
        background-position-x: -2000px; 
    }
}
@import url(https://fonts.googleapis.com/css?family=Inter:300);

#inner-container{
  width:100%;
  height:400px;
  position:absolute;
  overflow:hidden;
  border-radius: 74px;
}
/* Estilo base para el título */
#titulo {
  font-size: 66px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 570px;
  left: 58%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta para centrar horizontalmente */
  width: max-content; /* Ajusta el ancho al contenido */
  transition: text-shadow 0.5s;
}

/* Estilo para el título borroso */
.brillo {

  text-shadow:green;
  transition: text-shadow 0.5s;
}

/* Estilo para el título con brillo azul al pasar el cursor */
#titulo:hover {
  color: white;
  text-shadow: green; /* Aumentamos el brillo al pasar el cursor */
}

body{
  padding:70;
  margin:00;
  font-family:cursive;
}
header {
    background-color: rgba(93, 300, 12, 0.639); /* Azul oscuro transparente */
    color: #fff;
    padding: 0 0 20px 0; /* Ajuste del margen superior */
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: fixed;
    width: 100%;
    height: 135px;
    top: 0;
    z-index: 999;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 600px solid transparent; /* Triángulo izquierdo transparente */
}; /* Triángulo inferior con color */

/* Estilos para el título */
.titles {
    margin-bottom: 110px;
    height: 30px;
    width: 40px;
}
#colorear{
    background-color: aqua;
}
/* Estilos para la barra de navegación */
nav ul {
    list-style: none;
    padding: 10;
    margin:0;
    height: 60px;
}

nav ul li {
    display: inline;
    margin-right:20px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
    position: relative;
    top: 1r0px; /* Ajusta el valor según sea necesario */
}

nav ul li a:hover {
    color: #f8f9fa;
}


.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid.back {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
.inner {
  position: absolute;
}
.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
  border-radius: 7px;
}.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:'Inter';
  color:#fff;
  background:rgba(0, 0, 0, 28%);
  padding:30px 0px;
  border-radius: 7px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border-radius: 7px;
  border:0;
}
input::placeholder {
  color: rgb(182, 171, 163);
}
.signup{
  color: rgb(182, 171, 163)!important;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#2d2f36;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  border-radius: 7px;
}
.box button:active{
  background:#000000;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}
@media screen and (max-width: 986px) {
  .bgvid{
height: 100px!important;
  }
}

@media screen and (min-width: 986px) {
  .bgvid.back {
width: 100%;
  }
}
/*GALERIA*/
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}
/*FIN DE LA GALERIA*/
/*REDES SOCIALES*/
#redes {
  list-style: none;
  padding: 0;
  margin: 0;
}

#redes li {
  display: inline-block;
  margin-right: 20px;
}

#redes li img {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease; /* Agregamos una transición al efecto de escala */
}

#redes li img:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
}
/*FIN DE LAS REDES SOCIALES*/